# C++/CMake
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.o
*.obj
*.so
*.a
*.exe
*.out
*.log
*.user
*.swp
*.swo
*.DS_Store
*.vscode/
# CLion
.idea/
# QtCreator
*.pro.user
*.qbs.user
*.creator.user
*.autosave
# VSCode
.vscode/
# Mac/Linux
.DS_Store
*.dSYM/
# Windows
Thumbs.db
Desktop.ini
# Python virtualenv (如果有)
venv/
__pycache__/
